{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/css/estiloinicio.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('/css/estilonoticias.css') }}" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('/js/noticias.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}

{% block body %}
{% if app.user %}
    {% if is_granted('ROLE_BANDA') == true %}
        <a href="{{ path('nueva_noticia', {id:app.user.id}) }}" class="btn btn-primary" role="button">Insertar Noticia</a>
    {% endif %}
{% endif %}
<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for noticia in noticias %}
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" style="height: 225px; width:100%; display: block;" src="{{ asset('imagenes/noticias/') }}/{{ noticia.foto }}" data-holder-rendered="true">
                        <div class="card-body">
                            <h3 class="card-title">{{ noticia.titulo }}</h3>
                            <p class="card-text">{{ noticia.contenido }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Noticia</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No hay noticias aún</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
{% endblock %}
