{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/css/estiloinicio.css') }}" type="text/css">
    {% endblock %}
{% endblock %}


{% block body %}
<div class="container marketing">
    <div class="row">
        <!-- aquí se haría el for de bandas !-->
        {% for banda in bandas %}
            <div class="col-lg-4">
                <img class="rounded-circle" src="{{ asset('/imagenes/') }}/{{ banda.foto }}" alt="Generic placeholder image" width="140" height="140">
                <h2>{{ banda.nombre }} {{ banda.apellidos }}</h2>
                <p><a class="btn btn-primary" href="{{ path('ver_perfil',{id:banda.id}) }}" role="button">Ver perfil</a></p>
            </div>
        {% else %}
            <p>No se ha encontrado ninguna banda.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}